@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absolute-center-itself {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*

0 - 600px : Phone
600 - 900px : Tablet portrait
900 - 1200px : Tablet landscape
[1200 - 1800px] : - normal styles apply
1800px + : Big Desktop


/*
BREAKPOINT ARGUMENTS CHOIES
-phone  
-tab-port   
-tab-land   
-big-desktop   
*/

@mixin respond($breakpoints) {

  @if $breakpoints == phone { //700px
    @media only screen and (max-width: 43.5em) {
      @content;
    }
  }

  @if $breakpoints == tab-port { //900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoints == tab-land { //1050px
    @media only screen and (max-width: 66.25em) {
      @content;
    }
  }

  @if $breakpoints == big-desktop { //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
