.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);


  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    /* 只要設定一邊的長度 另一邊將會由瀏覽器自動計算 */
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(
      -50%,
      -50%
    ); /* 在transform使用％，則是以該元素本身大小作為計算基準（ｘ軸-50%表示往左邊移動該元素寬度50％的距離） */
    text-align: center;
  }
}
