.btn {
  position: relative;
  display: inline-block;
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-0.3rem);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    transform: translateY(-0.1rem);
  }
  &::after {
    content: "";
    /* 不了解為何再重寫一次 */
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    transition: all 0.4s;
    &:hover {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    /* 再創一個class放動畫 */
    /* animation: moveInButton 1s ease-out .75s; */
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-white;
      z-index: -1;
    }
  }
  &--animated {
    animation: moveInButton 0.5s ease-out 0.75s;
    /* 在動畫還沒開始之前，讓該元素呈現什麼狀態 */
    animation-fill-mode: backwards;
  }
}
