.composition {
  position: relative;
  &__photo {
    position: absolute;
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    transition: all ease-out 0.3s;

    &:hover {
      z-index: 1;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    }

    &--p1 {
      top: 0;
      left: 0;
    }
    &--p2 {
      top: 2rem;
      right: 0;
    }
    &--p3 {
      top: 10rem;
      left: 20%;
    }
  }
}
